[Unit]
Description=Takes new connected bluetooth device with buttons
After=bluetooth.target sound.target
Requires=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/share/schulbert/take-keyboard
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
